.wrapper {
  display: flex;
}
.side-bar {
  background-color: #217c5f;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #0c3620;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-pict {
  width: 280px;
  height: 84vh;
  opacity: 30%;
}
.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid rgb(128, 27, 200);
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}
.rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.main {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.header {
  background-color: #0c041f;;
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.left-header {
  background-color: #114919;
}
.header-title {
  color: rgb(93, 184, 51);
  font-size: 35px;
  margin-top: 36px;
}

.head-pict {
  width: 220px;
  height: 100px;
  opacity: 30%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.header-button {
  margin-top: 40px;
  background-color: #a75b14;
}

.header-button a {
  text-decoration: none;
  border: 1px solid #a75b14;
  color: #13110e;
  padding: 20px;
}
.messages {
  background-color: #070e46;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}